In [25]:
import pandas as pd

df = pd.read_csv('../DataSets/usedcars.csv')
df.groupby(by=['color','model']).describe()

              year                         ...   mileage
             count         mean       std  ...       50%        75%       max
color  model                               ...
Black  SE     19.0  2009.578947  0.837708  ...   34419.0   37361.00  106171.0
       SEL     4.0  2010.250000  0.500000  ...   28978.0   34911.75   40539.0
       SES    12.0  2008.416667  1.831955  ...   41596.5   60299.75  119720.0
Blue   SE      9.0  2009.222222  0.971825  ...   36124.0   37185.00   63296.0
       SEL     3.0  2010.333333  1.154701  ...   20019.0   23706.00   27393.0
       SES     5.0  2008.400000  2.190890  ...   36323.0   39211.00   69415.0
Gold   SE      1.0  2009.000000       NaN  ...   40180.0   40180.00   40180.0
Gray   SE      7.0  2009.142857  0.690066  ...   41342.0   46481.50   53902.0
       SEL     5.0  2010.000000  1.000000  ...   29501.0   35574.00   78264.0
       SES     4.0  2008.500000  3.000000  ...   31592.5   52634.25  101130.0
Green  SE      4.0  2007.000000  4.760952  ...   40026.0   45287.75   60161.0
       SEL     1.0  2011.000000       NaN  ...    9388.0    9388.00    9388.0
Red    SE     12.0  2006.666667  3.725425  ...   57939.5   89462.50  127327.0
       SEL     2.0  2009.000000  0.000000  ...   39381.5   41375.25   43369.0
       SES    11.0  2008.000000  1.732051  ...   57341.0   70578.50   97987.0
Silver SE     11.0  2008.000000  2.190890  ...   48652.0   60106.00  105714.0
       SEL     7.0  2010.000000  0.816497  ...   25125.0   29798.50   33107.0
       SES    14.0  2009.214286  1.423893  ...   35971.5   51753.00   95000.0
White  SE     14.0  2009.142857  1.657484  ...   48264.5   71007.25   95364.0
       SEL     1.0  2010.000000       NaN  ...   39943.0   39943.00   39943.0
       SES     1.0  2003.000000       NaN  ...   96000.0   96000.00   96000.0
Yellow SE      1.0  2001.000000       NaN  ...  151479.0  151479.00  151479.0
       SEL     1.0  2011.000000       NaN  ...    7413.0    7413.00    7413.0
       SES     1.0  2007.000000       NaN  ...   81596.0   81596.00   81596.0

[24 rows x 24 columns]