In [46]:
import pandas as pd
df = pd.read_csv("DataSets/cars/City_Master.csv", header=0, usecols=['City_Code','City_Name'])
df.head(10).tail(-5)

  City_Code  City_Name
5      CT06     Jaipur
6      CT07      Kochi
7      CT08    Kolkata
8      CT09      Delhi
9      CT10  Bangalore

In [94]:
import pandas as pd
try:
    df = pd.read_clipboard(header=None)
    df.raj()
except Exception as error:
    # EmptyDataError
    print('error : ',error)

error :  'DataFrame' object has no attribute 'raj'

In [1]:
import pandas as pd
def my_func():
    return None
df = pd.read_excel('DataSets/AdventureWorks2017.xlsx',sheet_name =['FactInternetSales', 'DimProductCategory', 'DimProductSubcategory'] ,converters={'ShipDateKey':my_func()})
for data in df.keys():
    df[data]

In [1]:
import pandas as pd
df = pd.read_csv("DataSets/HDFCBANK.csv")
df
df.iloc[8:10:10,1:5:2]
df.columns, df.index

(Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
        'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
        '%Deliverble'],
       dtype='object'),
 RangeIndex(start=0, stop=5306, step=1))

In [4]:
df.iloc[:10,[1,2,3]] # get first 10 rows and 3 columns

     Symbol Series  Prev Close
0  HDFCBANK     EQ      157.40
1  HDFCBANK     EQ      170.00
2  HDFCBANK     EQ      173.80
3  HDFCBANK     EQ      166.95
4  HDFCBANK     EQ      168.30
5  HDFCBANK     EQ      168.35
6  HDFCBANK     EQ      165.90
7  HDFCBANK     EQ      163.40
8  HDFCBANK     EQ      165.45
9  HDFCBANK     EQ      165.10