In [46]:
import pandas as pd
df = pd.read_csv("DataSets/cars/City_Master.csv", header=0, usecols=['City_Code','City_Name'])
df.head(10).tail(-5)

  City_Code  City_Name
5      CT06     Jaipur
6      CT07      Kochi
7      CT08    Kolkata
8      CT09      Delhi
9      CT10  Bangalore

In [94]:
import pandas as pd
try:
    df = pd.read_clipboard(header=None)
    df.raj()
except Exception as error:
    # EmptyDataError
    print('error : ',error)

error :  'DataFrame' object has no attribute 'raj'

In [133]:
import pandas as pd
def my_func():
    return None
df = pd.read_excel('DataSets/AdventureWorks2017.xlsx',sheet_name =['FactInternetSales', 'DimProductCategory', 'DimProductSubcategory'] ,converters={'ShipDateKey':my_func()})
for data in df.keys():
    df[data]