In [16]:
import pandas as pd
data={
    'name':['mantu', 'suresh'],
    'rollno':[10,20]
}
df = pd.DataFrame(data=data,columns=['123ew'])
df

Empty DataFrame
Columns: [123ew]
Index: []